<h1 id="please_check_this_link">Please check this link</h1>
<p>
  This solution is available as a small feature. This cannot come in single page
  <%= link_to "Please click here", new_product_path %>
</p>